<%= render "game/matrix", matrix: current_user.matrix %>

<%= button_to "start", update_matrix_path, method: :get, id: "start" %>
<%= button_to "hidden", update_matrix_path, method: :get, id: "hidden" %>
<button id="stop">stop</button>

<%= button_to "stream start", start_sse_path, id: "start-sse" %>
<%= button_to "stream stop", stop_sse_path, id: "stop-sse" %>

<%= link_to 'home', root_path, id: 'home' %>
<%= button_to "sign out", destroy_user_session_path, method: :delete %>

<script>
    const startLink = document.getElementById("start-sse");
    const stopLink = document.getElementById("stop-sse");
    let source;
    startLink.addEventListener("click", function (e) {
      e.preventDefault();
      source = new EventSource("/sse");
      source.addEventListener("update-event", function (event) {
        console.log(JSON.parse(event.data));
      });
    });
    stopLink.addEventListener("click", function (e) {
      e.preventDefault();
      source.close();
    });
</script>
